---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Welcome to Astro.">
	<main class="md:container md:mx-auto">
		<About />
		<div class="sections-container">
			<div id="technologies" class="md:container md:mx-auto">
				<Section nameSection="Tecnologías" isFlex={true}>
					<Tech
						techName={"React"}
						classIcon={"fa-brands fa-react"}
						class="content"
						color={"#fff"}
					/>

					<Tech
						techName={"Java"}
						color={"#E97B18"}
						classIcon={"fa-brands fa-java"}
					/>

					<Tech
						techName={"Angular"}
						color={"#BD002E"}
						classIcon={"fa-brands fa-angular"}
					/>
					<Tech
						techName={"Node Js"}
						classIcon={"fa-brands fa-node"}
						color={"#68A063"}
					/>
					<Tech
						techName={"JavaScript"}
						classIcon={"fa-brands fa-js"}
						color={"#EAD41C"}
					/>
				</Section>
			</div>

			<div id="projects" class="container mx-auto">
				<Section nameSection="Proyectos">
					<Projects />
				</Section>
			</div>
		</div>
	</main>
</Layout>
<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.sections-container {
		border: currentColor solid;
		border-color: currentColor;
		border-radius: 5px;
		max-width: 1080px;

		padding: 1rem;
		margin: 1rem;
	}

	.section-tech {
		content: "hola";
	}
</style>
