---
import avatarSvg from "/avatar.svg";
---

<div
  class="container mt-1 p-2 flex justify-around items-center "
>
  <div class="sm:p-4 flex flex-col justify-center items-center w-full">
    <span class="sm:text-5xl text-lg font-extrabold animate-typingBlink"
      >Giovanny Rosas</span
    >

    <p class="sm:text-lg text-sm font-semibold pl-1">Web Developer</p>
  </div>
  <img src={avatarSvg} alt="Giovanny" class="w-32 sm:w-52" />
</div>

<style>
  span {
    display: block;
    white-space: nowrap;
    width: 13ch;
    border-right: 4px solid;

    overflow: hidden;
  }

  img {
    fill: currentColor;
  }
</style>
