---
import ThemeToggle from "./ThemeToggle";
---

<div class="nav-container">
  <h1 class="sm:text-2xl text-xl font-extrabold">Giovanny</h1>
  <nav>
    <ul class="hidden sm:flex">
      <li><a href="#projects" class="text-current">Proyectos</a></li>
      <li><a href="#technologies">Tecnologías</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
    <!-- Redes -->
    <ul>
      <li>
        <a href="https://github.com/Tziovany" target="_blank"
          ><i class="fa-brands fa-github"></i></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/giovanny-rosas-muete-0192531a5/"
          target="_blank"><i class="fa-brands fa-linkedin"></i></a
        >
      </li>
    </ul>
    <ul>
      <li><ThemeToggle client:load /></li>
    </ul>
  </nav>
</div>

<style>
  .nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
  ul {
    display: flex;
    list-style: none;
  }
  li {
    padding: 1rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    font-weight: 800;
    /*
    color: #7ec3eb;
    */
  }

  i {
    font-size: 2rem;
  }

  .light-mode-container {
    width: 1rem;
  }
</style>
