---
import Project from "./Project.astro";
import gatoPicture from "../assets/gato-picture.jpg";
---

<section class="flex flex-wrap justify-center">
  <Project
    projectName={"Proyecto"}
    img={gatoPicture}
    link={"https://www.facebook.com/"}
    description={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa sequi iusto temporibus sint beatae, ab, vero, numquam architecto explicabo voluptates enim nemo consequuntur nostrum ipsum aperiam tempore. Vitae, ad!"}
    techsClass={["fa-brands fa-react", "fa-brands fa-java"]}
  />
  <Project
    projectName={"Proyecto"}
    img={gatoPicture}
    link={"https://www.facebook.com/"}
    description={"Lorem ipsum dolor sit amet consectetur adipisicing elit"}
    techsClass={["fa-brands fa-react", "fa-brands fa-java"]}
  />
  <Project
    projectName={"Proyecto"}
    img={gatoPicture}
    link={"https://www.facebook.com/"}
    description={"Lorem ipsum dolor sit amet consectetur adipisicing elit"}
    techsClass={["fa-brands fa-react", "fa-brands fa-java"]}
  />
</section>
